Flask==0.12.2
Flask-Cors==3.0.3
Flask-WTF==0.14.2
WTForms==2.1
SQLAlchemy==1.1.15
requests==2.18.4
jsondatabase==0.1.7
jsonschema==2.6.0
Flask-SQLAlchemy==2.1
Jinja2==2.8
MarkupSafe==0.23
Werkzeug==0.11.11
click==6.6
gunicorn==19.6.0
itsdangerous==0.24
psycopg2==2.6.2