* {
    font-family: "Mina";
}


html {
    background-color: whitesmoke;
}

h1 {
    color: gray;
    text-align: center;
    margin-top: 20%;
}

h2 {
    text-align: center;
}

ul {
    list-style: none;
    padding-left: 0px;
    text-align: center;
}

li {
    margin-bottom: 5px;
    font-size: 3vw;
}

li .login {
    color: gray;
    font-size: 2vw;
}

.logo {
    width: 6vw;
}

footer {
    font-size: 2vw;
    position: fixed;
    bottom: 4vw;
    right: 0;
    left: 0;
}

