<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style (1).css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mina">
            <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
        <title>Echo360 Chatbot - {% block title %}{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        <div id=content>

            <div class=nav>
                <h2>Welcome to Echo360 Chatbot:</h2>
                <ul>
                    <li><a href="{{ url_for('question')}}">Ask a question</a></li>
                    <li><a href="{{ url_for('staff_login')}}" class=login>Staff login</a></li>
                    <p class="divider">------------</p>
                </ul>
            </div>
            {% block content %}
            {% endblock %}
        </div>
    </body>
    <footer>
        <p align=center>Powered by 
        <img src="{{ url_for('static',  filename='echo360.png') }}" alt="Echo360 logo" class=logo>
         and <img src="{{ url_for('static',  filename='umsi.jpg') }}" alt="UMSI logo" class=logo></p>
    </footer>
</html>
<!--adding in content/logistic note for demo-->