{% extends 'question_form.html' %}
{% block content %}
    <h1>Your question was: {{ question }}</h1>

    {% if closest_question %}
    <p><strong>The closest matched question: </strong>{{ closest_question }}</p>
    {% else %}
    <h1>We could not find a close match to your question.  Performing Google Search</h1>
    {% endif %}

    {% if answer %}
        <p><strong>Your answer is: </strong> {{ answer }}</p>
    {% endif %}

    {% if search %}
        <p><strong>Your answer is: </strong><a href={{ search }}>here</a></p>
    {% endif %}





{% endblock %}


