<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style (1).css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Mina">
    <title>Echo360 Chatbot</title>
</head>
    <body>

    {% extends 'question_form.html' %}
    {% block content %}
        <div class="divider">
        <h2>Your question was: {{ question }}</h2>

        {% if closest_question %}
        <p><strong>We found this similar question: </strong>{{ closest_question }}</p>
        {% else %}
        <h2>We could not find a close match to your question.  Performing Google Search</h2>
        {% endif %}

        {% if answer %}
            <h3><strong>The answer is: </strong> {{ answer }}</h3>
        {% endif %}

        {% if search %}
            <h3><strong>The answer is: </strong><a href={{ search }}>here</a></h3>
        {% endif %}
        </div>





    {% endblock %}
    </body>
</html>

