<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Mina">
    <title>Echo360 Chatbot</title>
</head>
    <body>

{% extends 'base.html' %}
{% block content %}



<h1>Staff Login</h1>
    <form method="POST" action="{{ url_for('staff_login') }}">
        {{ form.hidden_tag() }}
        {{ form.pw.label() }} {{ form.pw() }}
        {{ form.submit() }}
    </form>

<div>
    {% for message in get_flashed_messages() %}
        <strong style="color:red;">{{ message }}</strong>
    {% endfor %}
</div>

{% endblock %}

    </body>
</html>
