<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Mina">
    <title>Echo360 Chatbot</title>
</head>
    <body>

{% extends 'base.html' %}
{% block content %}

{% if is_staff %}

{% if question_lst %}
<h1>These are the unanswered questions from students</h1>

{% else %}
<h1>There are no unanswered questions from students</h1>

{% endif %}

    <form action="{{ url_for('unanswered_questions') }}" method="GET">
        {% for question in question_lst %}
            <p>{{ question }}</p>
            <input type="text" name="answer" id="answer">
        <br>
        {% endfor %}

        {% if question_lst %}
            <input type="submit">
        {% endif %}
    </form>
{% else %}
    <h1>You have not logged in as a staff member</h1>
{% endif %}
{% endblock %}
    </body>
</html>
