* {
    font-family: "Mina";
}

html {
    background-color: whitesmoke;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
/*    font-size: 4vw;*/
}

.nav {
    margin-top: 12vw;
}

ul {
    list-style: none;
    padding-left: 0px;
    text-align: center;
}

li {
    margin-bottom: 5px;
/*    font-size: 3vw;*/
}

li .login {
    color: gray;
/*    font-size: 2vw;*/
}

.logo {
    width: 5.25vw;
}

footer {
    font-size: 1.75vw;
    position: fixed;
    bottom: 2vw;
    right: 0;
    left: 0;
}

