* {
    font-family: "Mina";
}


html {
    background-color: whitesmoke;
}

header {
    text-align: center;
    font-size: 25px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

ul {
    list-style: none;
    padding-left: 0px;
    text-align: center;
}

.pure-form {
    text-align: center;
}

li {
    margin-bottom: 5px;
    font-size: 20px;
}

li .login {
    color: gray;
    font-size: 12px;
}

.logo {
    width: 40px;
}

footer {
    font-size: 15px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.divider {
    text-align: center;
    padding: 10px;
}
